
	
	<table>

		<tr> Name: <%= @com.company %> </tr> </br>
		<tr> HR: <%= @com.HR_name %> </tr> </br>
		<tr> HR Email: <%= @com.HR_email %> </tr></br>

	</table>
</br>
	<%= link_to("Search Another Company Details", 'query')%>